.cotizar-button {
  background-color: #000;
  color: #fff;
  padding: 12px 40px;
  border: 1px solid white;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.cotizar-button:hover {
  background-color: #333;
}

.cotizar-button.active {
  background-color: #939C20;
  color: white;
}
