.cotizar-button {
    background-color: #000; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .cotizar-button:hover {
    background-color: #333; 
  }

  .cotizar-button.active {
    
    background-color: #939C20;
    color: white;
  }