.parcels-button {
  background-color: #939C20;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid white; /* Añade un borde blanco de 2 píxeles */
}

.parcels-button:hover { 
  background-color: #aeb81c;
}