.NewParcel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.AllParcels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}


.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card {
    display: flex;
    justify-content: center;
    min-width: 300px;
    max-width: 300px;
    position: relative;
}

.image {

    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 300px;
    max-width: 300px;
    height: 450px;
    overflow: hidden;

}

.image img {
    min-width: 300px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}


.description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    z-index: 10;
    max-width: 300px;
    padding: 0 10px;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.description h1,
.description h3 {
    margin: 5px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 300px;
    max-width: 300px;
    height: 450px;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: white;
    text-align: center;
    z-index: 15;
}

.overlay h1 p {
    margin-bottom: 10px;
    text-align: justify;
}

.card:hover .image {
    opacity: 0;
}

.card:hover .description {
    opacity: 0;
}

.card:hover .overlay {
    opacity: 1;
}

@media (max-width: 1200px) {
    .cardContainer {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .cardContainer {
        grid-template-columns: 1fr;
    }
}

.additional-info{
    margin-top: 40px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.m2-icon{
    fill: #939c20;
    width: 30px;
}

.precio-icon{
    fill: #939c20;
    width: 30px;
}