.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  width: 100%;
}

main { 
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.logo img {
  width: 100px;
}

.navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin: 0 15px;
}

.navigation a {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
}

.navigation a:hover {
  text-decoration:none;
  color: #939C20;
}
.navigation .active {
  color: #939C20; /* Color para el enlace activo */
}

