.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #333;
}

.logo img {
  width: 100px;
}

.navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin: 0 15px;
}

.navigation a {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
}

.navigation a:hover {
  text-decoration:none;
  color: #939C20;
}
.navigation .active {
  color: #939C20; /* Color para el enlace activo */
}

.hero {
  position: relative;
  text-align: center;
  color: white;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content h1 {
  font-size: 3em;
}

.hero-content button {
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.features, .testimonials {
  padding: 20px;
}

.features .feature, .testimonials .testimonial {
  margin-bottom: 20px;
}

.features .feature h2, .testimonials .testimonial h2 {
  margin-bottom: 10px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: 10px;
}

.footer-address,
.footer-contact {
  margin: 5px 0;
}

.footer-contact .whatsapp-icon {
  
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Agrega estilos para los componentes tipo card y review */

.parcela-cards {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 30%;
  text-align: center;
  padding: 20px;
}

.card h3 {
  margin-top: 0;
}

.reviews {
  padding: 20px;
  background: #f9f9f9;
}

.review {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
